 {% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/emp.css' %}">
    <title>Employee Page</title>
 
</head>

<body>
   <header>
    <div class="navbar">
      <h3>payroll management system</h3>
    </div>

  </header> 
   
<h1>Hello {{employee.first_name}}, Here are your details:</h1>

           
<div class="container-fluid"> 
        <div class="image">
                <img src="{% static 'img/emp.jpg' %}" width="1300" height="750">
            </div>    
<div class="contact">
    
    <p>Full Name: {{employee.first_name}} {{employee.last_name}}<br>
        <br>Empoloyee Id: {{employee.employee_id}}<br>
        <br>Email: {{employee.email}}<br>
        <br>Contact Number: {{employee.mobile_number}}<br>
        <br>Address: {{employee.address}}<br>
        <br>Pincode: {{employee.pincode}}<br>
        <br>Date of Joining: {{employee.start_date}}
    </p>
</div>
</div>
    
    <div class="section">
     
        <button class="button"><a href="/updateEmployee/{{employee.employee_id}}">Update Details</a></button>
        <button class="button"><a href="/payslip/{{employee.employee_id}}">Generate PaySlip</a></button>
        <button class="button"><a href="/home">Logout</a></button> 
    </div>
 

<!-- footer section -->
       <footer class="bg-dark-1">
        <section id="footer" class="py-5">
          
       
        <div class="footer-content">

          <div class="social">
            <p>Follow our website by Social media</p>
          </div>
          
            <div class="container text-center">
              <a href="#" class="twitter"></a>
              <a href="#" class="linkedin"></a>
              <a href="#" class="facebook"></a>
              <a href="#" class="skype"></a>
              <a href="#" class="flickr"></a>
    
        </div>
       <div class="copyright">
        <p>&copy; 2023 Payroll Management System. All rights reserved.</p>
       </div>
        
        </div>
      </section>
      </footer>
    
</body>
</html>
